In [1]:
import numpy as np
import pandas as pd
import numpy as np
import os
import time
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [81]:
df = pd.read_csv('SIAPE_ativos_federal_raca_sexo_escolaridade.csv')
df

       ano mes_base esc_cargo sexo           raca  qtde_vinc_serv
0     1999      Fev       NaN  Fem         BRANCA            3535
1     1999      Fev       NaN  Fem  NAO INFORMADO            2665
2     1999      Fev       NaN  Fem          NEGRA              65
3     1999      Fev       NaN  Fem          PARDA            3653
4     1999      Fev       NaN  Fem          PRETA             857
...    ...      ...       ...  ...            ...             ...
1491  2020      Fev   S/cargo  Mas  NAO INFORMADO             204
1492  2020      Fev   S/cargo  Mas          PARDA            1725
1493  2020      Fev   S/cargo  Mas          PRETA             234
1494  2020      Fev   S/cargo  Mas        AMARELA             147
1495  2020      Fev   S/cargo  Mas       INDIGENA              14

[1496 rows x 6 columns]

In [82]:
df['sexo'].unique()

array(['Fem', 'Mas'], dtype=object)

In [83]:
df['raca'].unique()

array(['BRANCA', 'NAO INFORMADO', 'NEGRA', 'PARDA', 'PRETA', 'AMARELA',
       'INDIGENA'], dtype=object)

In [84]:
df = df.rename(columns={ 'sexo': 'genero',"raca" :"cor_raca", "qtde_vinc_serv" : "quantidade_vinculos"})
df

       ano mes_base esc_cargo genero       cor_raca  quantidade_vinculos
0     1999      Fev       NaN    Fem         BRANCA                 3535
1     1999      Fev       NaN    Fem  NAO INFORMADO                 2665
2     1999      Fev       NaN    Fem          NEGRA                   65
3     1999      Fev       NaN    Fem          PARDA                 3653
4     1999      Fev       NaN    Fem          PRETA                  857
...    ...      ...       ...    ...            ...                  ...
1491  2020      Fev   S/cargo    Mas  NAO INFORMADO                  204
1492  2020      Fev   S/cargo    Mas          PARDA                 1725
1493  2020      Fev   S/cargo    Mas          PRETA                  234
1494  2020      Fev   S/cargo    Mas        AMARELA                  147
1495  2020      Fev   S/cargo    Mas       INDIGENA                   14

[1496 rows x 6 columns]

In [85]:
df['cor_raca'] = df['cor_raca'].str.title()

In [86]:
df['genero'].unique()

array(['Fem', 'Mas'], dtype=object)

In [87]:
def transformar(nome):
    nome =re.sub(r"\bFev\b", "Fevereiro", nome) 
    nome = re.sub(r"\bFem\b", "Mulheres", nome)
    nome =re.sub(r"\bMas\b", "Homens", nome)
    nome = re.sub(r"\bNao Informado\b", "Não Informado", nome)
    nome = re.sub(r"\bIndigena\b", "Indígena", nome)
    return nome

In [88]:
df['cor_raca'] = df['cor_raca'].apply(transformar)
df['mes_base'] = df['mes_base'].apply(transformar)
df['genero'] = df['genero'].apply(transformar)

In [91]:
df['esc_cargo'] = df['esc_cargo'].fillna('S/Info')

In [92]:
df

       ano   mes_base esc_cargo    genero       cor_raca  quantidade_vinculos
0     1999  Fevereiro    S/Info  Mulheres         Branca                 3535
1     1999  Fevereiro    S/Info  Mulheres  Não Informado                 2665
2     1999  Fevereiro    S/Info  Mulheres          Negra                   65
3     1999  Fevereiro    S/Info  Mulheres          Parda                 3653
4     1999  Fevereiro    S/Info  Mulheres          Preta                  857
...    ...        ...       ...       ...            ...                  ...
1491  2020  Fevereiro   S/cargo    Homens  Não Informado                  204
1492  2020  Fevereiro   S/cargo    Homens          Parda                 1725
1493  2020  Fevereiro   S/cargo    Homens          Preta                  234
1494  2020  Fevereiro   S/cargo    Homens        Amarela                  147
1495  2020  Fevereiro   S/cargo    Homens       Indígena                   14

[1496 rows x 6 columns]

In [93]:
df['genero_raca'] = df['genero'] + ' ' + df['cor_raca']

In [94]:
df['genero_raca'].unique()

array(['Mulheres Branca', 'Mulheres Não Informado', 'Mulheres Negra',
       'Mulheres Parda', 'Mulheres Preta', 'Mulheres Amarela',
       'Mulheres Indígena', 'Homens Branca', 'Homens Não Informado',
       'Homens Negra', 'Homens Parda', 'Homens Preta', 'Homens Amarela',
       'Homens Indígena'], dtype=object)

In [95]:
def transforme(nome):
    nome =re.sub(r"\bMulheres Branca\b", "Mulheres Brancas", nome)
    nome =re.sub(r"\bMulheres Negra\b", "Mulheres Negras", nome)
    nome =re.sub(r"\bMulheres Parda\b", "Mulheres Pardas", nome)
    nome =re.sub(r"\bMulheres Preta\b", "Mulheres Pretas", nome)
    nome =re.sub(r"\bMulheres Amarela\b", "Mulheres Amarelas", nome)
    nome =re.sub(r"\bMulheres Indigena\b", "Mulheres Indígenas", nome)
    nome =re.sub(r"\bMulheres Não Informado\b", "Mulheres sem informação de raça", nome)
    nome =re.sub(r"\bHomens Branca\b", "Homens Brancos", nome)
    nome =re.sub(r"\bHomens Negra\b", "Homens Negros", nome)
    nome =re.sub(r"\bHomens Parda\b", "Homens Pardos", nome)
    nome =re.sub(r"\bHomens Preta\b", "Homens Pretos", nome)
    nome =re.sub(r"\bHomens Amarela\b", "Homens Amarelos", nome)
    nome =re.sub(r"\bHomens Indigena\b", "Homens Indígena", nome)
    nome =re.sub(r"\bHomens Não Informado\b", "Homens sem informação de raça", nome)
    return nome

In [96]:
df['genero_raca'] = df['genero_raca'].apply(transforme)

In [97]:
df['genero_raca'].unique()

array(['Mulheres Brancas', 'Mulheres sem informação de raça',
       'Mulheres Negras', 'Mulheres Pardas', 'Mulheres Pretas',
       'Mulheres Amarelas', 'Mulheres Indígena', 'Homens Brancos',
       'Homens sem informação de raça', 'Homens Negros', 'Homens Pardos',
       'Homens Pretos', 'Homens Amarelos', 'Homens Indígena'],
      dtype=object)

In [98]:
df = df[['ano', 'mes_base', 'esc_cargo', 'genero', 'cor_raca', 'genero_raca', 'quantidade_vinculos']]

In [99]:
df

,ano,mes_base,esc_cargo,genero,cor_raca,genero_raca,quantidade_vinculos
0,1999,Fevereiro,S/Info,Mulheres,Branca,Mulheres Brancas,3535
1,1999,Fevereiro,S/Info,Mulheres,Não Informado,Mulheres sem informação de raça,2665
2,1999,Fevereiro,S/Info,Mulheres,Negra,Mulheres Negras,65
3,1999,Fevereiro,S/Info,Mulheres,Parda,Mulheres Pardas,3653
4,1999,Fevereiro,S/Info,Mulheres,Preta,Mulheres Pretas,857
...,...,...,...,...,...,...,...
1491,2020,Fevereiro,S/cargo,Homens,Não Informado,Homens sem informação de raça,204
1492,2020,Fevereiro,S/cargo,Homens,Parda,Homens Pardos,1725
1493,2020,Fevereiro,S/cargo,Homens,Preta,Homens Pretos,234
1494,2020,Fevereiro,S/cargo,Homens,Amarela,Homens Amarelos,147
1495,2020,Fevereiro,S/cargo,Homens,Indígena,Homens Indígena,14

Subindo pro GBQ

In [100]:
client = bigquery.Client()
dataset_ref = client.dataset('perfil_remuneracao')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [101]:
schema = [bigquery.SchemaField('ano', 'INTEGER', description= 'Ano de referência da observação'),
          bigquery.SchemaField('mes_base', 'STRING', description= 'Mês de quando a observação foi executada'),
          bigquery.SchemaField('esc_cargo', 'STRING', description= 'Escolaridade/cargo da observação'),
          bigquery.SchemaField('genero', 'STRING', description= 'Gênero autodeclarado ou não'),
          bigquery.SchemaField('cor_raca', 'STRING', description= 'Raça/cor da pessoa observada'),
          bigquery.SchemaField('genero_raca', 'STRING', description= 'Gênero e raça da pessoa observada'),
          bigquery.SchemaField('quantidade_vinculos', 'INTEGER', description= 'Número total de vinculos observados')]

In [102]:
table_ref = dataset_ref.table('SIAPE_ativos_federal_raca_sexo_escolaridade')
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=ca366a67-0f1c-4ce4-b9a4-0d0bc9e2d887>