In [1]:
import numpy as np
import pandas as pd
import os

In [1]:

df_wide = pd.read_csv('5. IPEA_despesa_salarios_esfera.csv', sep=';', encoding='latin-1')
df_wide

     Ano Governo Geral Federal Estados Municípios
0   2002         361,2   105,5   154,2      101,5
1   2003         368,5    98,5   158,5      111,4
2   2004         381,2   104,4   158,8      118,0
3   2005         414,2   109,5   176,1      128,5
4   2006         461,1   123,0   194,7      143,5
5   2007         492,8   132,9   204,9      155,0
6   2008         538,0   143,5   221,2      173,4
7   2009         577,3   159,7   233,4      184,3
8   2010         616,3   170,3   247,8      198,2
9   2011         644,2   172,5   260,5      211,2
10  2012         676,8   169,7   275,6      231,5
11  2013         717,8   177,0   295,5      245,4
12  2014         738,1   179,8   301,5      256,8
13  2015         731,7   182,9   297,5      251,3
14  2016         725,1   177,7   290,0      257,4
15  2017         742,4   186,4   294,6      261,4
16  2018         745,9   185,9   293,6      266,4
17  2019         749,7   184,9   291,1      273,6
18  2020         736,0   177,5   278,4      280,2

In [2]:
df_long = df_wide.melt('Ano', var_name= 'Esferas', value_name = 'Despesas')
df_long

     Ano        Esferas Despesas
0   2002  Governo Geral    361,2
1   2003  Governo Geral    368,5
2   2004  Governo Geral    381,2
3   2005  Governo Geral    414,2
4   2006  Governo Geral    461,1
..   ...            ...      ...
71  2016     Municípios    257,4
72  2017     Municípios    261,4
73  2018     Municípios    266,4
74  2019     Municípios    273,6
75  2020     Municípios    280,2

[76 rows x 3 columns]

In [3]:
df_long.to_csv('IPEA_despesa_salarios_esfera.csv')

In [9]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais\\Tratar primeira coluna e nomes ')

In [10]:
df = pd.read_csv("IPEA_despesa_salarios_esfera.csv")
df

    Unnamed: 0   Ano        Esferas Despesas
0            0  2002  Governo Geral    361,2
1            1  2003  Governo Geral    368,5
2            2  2004  Governo Geral    381,2
3            3  2005  Governo Geral    414,2
4            4  2006  Governo Geral    461,1
..         ...   ...            ...      ...
71          71  2016     Municípios    257,4
72          72  2017     Municípios    261,4
73          73  2018     Municípios    266,4
74          74  2019     Municípios    273,6
75          75  2020     Municípios    280,2

[76 rows x 4 columns]

Renomeação de coluna

In [11]:
df.rename(columns={"Ano": "ano", "Esferas": "esferas", "Despesas": "despesas"}, inplace=True)
df

    Unnamed: 0   ano        esferas despesas
0            0  2002  Governo Geral    361,2
1            1  2003  Governo Geral    368,5
2            2  2004  Governo Geral    381,2
3            3  2005  Governo Geral    414,2
4            4  2006  Governo Geral    461,1
..         ...   ...            ...      ...
71          71  2016     Municípios    257,4
72          72  2017     Municípios    261,4
73          73  2018     Municípios    266,4
74          74  2019     Municípios    273,6
75          75  2020     Municípios    280,2

[76 rows x 4 columns]

Eliminação de coluna

In [13]:
df = df.drop('Unnamed: 0', axis=1)
df

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
df = df.to_csv('IPEA_despesa_salarios_esfera.csv', index = False)