In [11]:
import numpy as np
import pandas as pd
import os

In [14]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [15]:
df = pd.read_csv("SIAPE_ativos_federal_raca_sexo_escolaridade.csv", sep=";")
df

,ano,mes_base,esc_cargo,sexo,raça2,raça,qtde_vinc_serv
0,1999,Fev,NaN,Fem,Branca,BRANCA,3535
1,1999,Fev,NaN,Fem,Não informada,NAO INFORMADO,2665
2,1999,Fev,NaN,Fem,Negra,NEGRA,65
3,1999,Fev,NaN,Fem,Negra,PARDA,3653
4,1999,Fev,NaN,Fem,Negra,PRETA,857
...,...,...,...,...,...,...,...
1491,2020,Fev,S/cargo,Mas,Não informada,NAO INFORMADO,204
1492,2020,Fev,S/cargo,Mas,Negra,PARDA,1725
1493,2020,Fev,S/cargo,Mas,Negra,PRETA,234
1494,2020,Fev,S/cargo,Mas,Outros,AMARELA,147
1495,2020,Fev,S/cargo,Mas,Outros,INDIGENA,14

Renomeação da coluna

In [18]:
df.rename(columns={"raça":"raca"}, inplace=True) 
df

,ano,mes_base,esc_cargo,sexo,raça2,raca,qtde_vinc_serv
0,1999,Fev,NaN,Fem,Branca,BRANCA,3535
1,1999,Fev,NaN,Fem,Não informada,NAO INFORMADO,2665
2,1999,Fev,NaN,Fem,Negra,NEGRA,65
3,1999,Fev,NaN,Fem,Negra,PARDA,3653
4,1999,Fev,NaN,Fem,Negra,PRETA,857
...,...,...,...,...,...,...,...
1491,2020,Fev,S/cargo,Mas,Não informada,NAO INFORMADO,204
1492,2020,Fev,S/cargo,Mas,Negra,PARDA,1725
1493,2020,Fev,S/cargo,Mas,Negra,PRETA,234
1494,2020,Fev,S/cargo,Mas,Outros,AMARELA,147
1495,2020,Fev,S/cargo,Mas,Outros,INDIGENA,14

Eliminação de coluna

In [20]:
df = df.drop("raça2", axis=1) 
df

       ano mes_base esc_cargo sexo           raca  qtde_vinc_serv
0     1999      Fev       NaN  Fem         BRANCA            3535
1     1999      Fev       NaN  Fem  NAO INFORMADO            2665
2     1999      Fev       NaN  Fem          NEGRA              65
3     1999      Fev       NaN  Fem          PARDA            3653
4     1999      Fev       NaN  Fem          PRETA             857
...    ...      ...       ...  ...            ...             ...
1491  2020      Fev   S/cargo  Mas  NAO INFORMADO             204
1492  2020      Fev   S/cargo  Mas          PARDA            1725
1493  2020      Fev   S/cargo  Mas          PRETA             234
1494  2020      Fev   S/cargo  Mas        AMARELA             147
1495  2020      Fev   S/cargo  Mas       INDIGENA              14

[1496 rows x 6 columns]

In [21]:
df = df.to_csv("SIAPE_ativos_federal_raca_sexo_escolaridade.csv", index = False)