In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', None)
pd.set_option('display.max_rows', None)
df_wide = pd.read_csv('IPEA_crescimento_despesas_governo.csv', sep=';', encoding='latin-1')
df_wide

          ano Governo Geral       Federal       Estados   Municípios
0   2002-2006   0,062943784     0,0389787   0,059978779  0,090439755
1   2006-2010   0,075217093   0,084903665   0,062112111  0,084152256
2   2010-2014   0,046109142    0,01358999   0,050319303  0,066862747
3   2014-2016  -0,008829575  -0,005850575  -0,019358761  0,001328364
4   2016-2018   0,014240102   0,022722314   0,006301426  0,017262605
5   2018-2020  -0,006628638  -0,022900168  -0,026270455  0,025544955
6         NaN           NaN           NaN           NaN          NaN
7         NaN           NaN           NaN           NaN          NaN
8         NaN           NaN           NaN           NaN          NaN
9         NaN           NaN           NaN           NaN          NaN
10        NaN           NaN           NaN           NaN          NaN
11        NaN           NaN           NaN           NaN          NaN
12        NaN           NaN           NaN           NaN          NaN
13        NaN           NaN           NaN           NaN          NaN
14        NaN           NaN           NaN           NaN          NaN
15        NaN           NaN           NaN           NaN          NaN
16        NaN           NaN           NaN           NaN          NaN
17        NaN           NaN           NaN           NaN          NaN
18        NaN           NaN           NaN           NaN          NaN

In [ ]:
df_long = df_wide.melt('ano', var_name= 'Governos',value_name = 'despesas')
df_long

In [ ]:
df_long.dropna()

In [22]:
df_long.to_csv('IPEA_crescimento_despesas_governo.csv')

In [4]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais\\Tratar primeira coluna e nomes ')

In [6]:
df = pd.read_csv("IPEA_crescimento_despesas_governo.csv")
df

    Unnamed: 0        ano       Governos      despesas
0            0  2002-2006  Governo Geral   0,062943784
1            1  2006-2010  Governo Geral   0,075217093
2            2  2010-2014  Governo Geral   0,046109142
3            3  2014-2016  Governo Geral  -0,008829575
4            4  2016-2018  Governo Geral   0,014240102
..         ...        ...            ...           ...
71          71        NaN     Municípios           NaN
72          72        NaN     Municípios           NaN
73          73        NaN     Municípios           NaN
74          74        NaN     Municípios           NaN
75          75        NaN     Municípios           NaN

[76 rows x 4 columns]

Renomeação de colunas

In [7]:
df.rename(columns={"Governos": "governos"}, inplace=True)
df

    Unnamed: 0        ano       governos      despesas
0            0  2002-2006  Governo Geral   0,062943784
1            1  2006-2010  Governo Geral   0,075217093
2            2  2010-2014  Governo Geral   0,046109142
3            3  2014-2016  Governo Geral  -0,008829575
4            4  2016-2018  Governo Geral   0,014240102
..         ...        ...            ...           ...
71          71        NaN     Municípios           NaN
72          72        NaN     Municípios           NaN
73          73        NaN     Municípios           NaN
74          74        NaN     Municípios           NaN
75          75        NaN     Municípios           NaN

[76 rows x 4 columns]

Eliminação de colunas

In [8]:
df = df.drop('Unnamed: 0', axis=1)
df

          ano       governos      despesas
0   2002-2006  Governo Geral   0,062943784
1   2006-2010  Governo Geral   0,075217093
2   2010-2014  Governo Geral   0,046109142
3   2014-2016  Governo Geral  -0,008829575
4   2016-2018  Governo Geral   0,014240102
..        ...            ...           ...
71        NaN     Municípios           NaN
72        NaN     Municípios           NaN
73        NaN     Municípios           NaN
74        NaN     Municípios           NaN
75        NaN     Municípios           NaN

[76 rows x 3 columns]

In [ ]:
df = df.to_csv('IPEA_crescimento_despesas_governo.csv', index = False)