In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [6]:
df = pd.read_csv("SIAPE_remuneracao_liquida_executivo_raca.csv", sep=";")
df

      ano           raça liquido
0    1999        Amarela  5025,7
1    1999         Branca  5945,6
2    1999       Indígena  3995,7
3    1999  Não informado  4814,5
4    1999          Negra  4443,6
..    ...            ...     ...
105  2020        Amarela  7895,7
106  2020         Branca  8301,5
107  2020       Indígena  5442,8
108  2020  Não informado  7422,7
109  2020          Negra  6072,6

[110 rows x 3 columns]

Renomeação de coluna

In [8]:
df.rename(columns={"raça":"raca"}, inplace=True)
df

      ano           raca liquido
0    1999        Amarela  5025,7
1    1999         Branca  5945,6
2    1999       Indígena  3995,7
3    1999  Não informado  4814,5
4    1999          Negra  4443,6
..    ...            ...     ...
105  2020        Amarela  7895,7
106  2020         Branca  8301,5
107  2020       Indígena  5442,8
108  2020  Não informado  7422,7
109  2020          Negra  6072,6

[110 rows x 3 columns]

In [9]:
df = df.to_csv('SIAPE_remuneracao_liquida_executivo_raca.csv', index = False)