In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Dados Brutos\\Atlas do Estado')

In [4]:
df = pd.read_csv("SIAPE_ativos_economia_rural.csv", sep=';')
df

,ano,ministerios,servidores_ativos_ministerios,total_servidores_ativos,perc_servidores
0,1999,"ministerio da agricultura, pecuaria e abasteci...",11036,482854,2.29
1,1999,ministerio da defesa,32124,482854,6.65
2,1999,ministerio das relacoes exteriores,3193,482854,0.66
3,1999,ministerio do esporte,208,482854,0.04
4,1999,ministerio do turismo,224,482854,0.05
...,...,...,...,...,...
118,2018,"ministerio da agricultura, pecuaria e abasteci...",9893,611916,1.62
119,2018,ministerio da defesa,17771,611916,2.90
120,2018,ministerio das relacoes exteriores,3337,611916,0.55
121,2018,ministerio do esporte,330,611916,0.05
122,2018,ministerio do turismo,433,611916,0.07

In [5]:
df = df.to_csv('SIAPE_ativos_economia_rural.csv', index = False)