In [6]:
import numpy as np
import pandas as pd
import os
import time
import pandas_gbq
from google.cloud import bigquery
import re

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [20]:
df = pd.read_csv("SIAPE_vinculos_das_sexo_raca.csv", sep= "," )
df

      ano tipo_das   valor       sexo           raça
0    1999     DAS-1   1909  Masculino         Branco
1    1999     DAS-1    787  Masculino          Negro
2    1999     DAS-1   1778   Feminino         Branco
3    1999     DAS-1    639   Feminino          Negro
4    1999     DAS-1    463   Feminino  Não informado
..    ...       ...    ...        ...            ...
865  2020     DAS-6      3   Feminino          Negro
866  2020     DAS-6      2   Feminino  Não informado
867  2020     DAS-6      5  Masculino  Não informado
868  2020     DAS-6      4   Feminino         Outros
869  2020     DAS-6      1  Masculino         Outros

[870 rows x 5 columns]

In [21]:
df['raça'].unique()

array(['Branco', 'Negro', 'Não informado', 'Outros'], dtype=object)

In [22]:
def transformar(nome):
    nome =re.sub(r"\bFeminino\b", "Mulheres", nome)
    nome =re.sub(r"\bMasculino\b", "Homens", nome)
    return nome

In [23]:
df['sexo'] = df['sexo'].apply(transformar)

In [24]:
df['genero_raca'] = df['sexo'] + ' ' + df['raça']
df

      ano tipo_das   valor      sexo           raça             genero_raca
0    1999     DAS-1   1909    Homens         Branco           Homens Branco
1    1999     DAS-1    787    Homens          Negro            Homens Negro
2    1999     DAS-1   1778  Mulheres         Branco         Mulheres Branco
3    1999     DAS-1    639  Mulheres          Negro          Mulheres Negro
4    1999     DAS-1    463  Mulheres  Não informado  Mulheres Não informado
..    ...       ...    ...       ...            ...                     ...
865  2020     DAS-6      3  Mulheres          Negro          Mulheres Negro
866  2020     DAS-6      2  Mulheres  Não informado  Mulheres Não informado
867  2020     DAS-6      5    Homens  Não informado    Homens Não informado
868  2020     DAS-6      4  Mulheres         Outros         Mulheres Outros
869  2020     DAS-6      1    Homens         Outros           Homens Outros

[870 rows x 6 columns]

In [25]:
df['genero_raca'].unique()

array(['Homens Branco', 'Homens Negro', 'Mulheres Branco',
       'Mulheres Negro', 'Mulheres Não informado', 'Homens Não informado',
       'Mulheres Outros', 'Homens Outros'], dtype=object)

In [26]:
def transforme(nome):
    nome =re.sub(r"\bHomens Branco\b", "Homens Brancos", nome)
    nome =re.sub(r"\bHomens Negro\b", "Homens Negros", nome)
    nome =re.sub(r"\bMulheres Branco\b", "Mulheres Brancas", nome)
    nome =re.sub(r"\bMulheres Negro\b", "Mulheres Negras", nome)
    nome =re.sub(r"\bMulheres Não informado\b", "Mulheres sem informação de raça", nome)
    nome =re.sub(r"\bHomens Não informado\b", "Homens sem informação de raça", nome)
    nome =re.sub(r"\bMulheres Outros\b", "Mulheres com outras raças", nome)
    nome =re.sub(r"\bHomens Outros\b", "Homens com outras raças", nome)
    return nome

In [29]:
df['genero_raca'] = df['genero_raca'].apply(transforme)

In [30]:
df

,ano,tipo_das,valor,sexo,raça,genero_raca
0,1999,DAS-1,1909,Homens,Branco,Homens Brancos
1,1999,DAS-1,787,Homens,Negro,Homens Negros
2,1999,DAS-1,1778,Mulheres,Branco,Mulheres Brancas
3,1999,DAS-1,639,Mulheres,Negro,Mulheres Negras
4,1999,DAS-1,463,Mulheres,Não informado,Mulheres sem informação de raça
...,...,...,...,...,...,...
865,2020,DAS-6,3,Mulheres,Negro,Mulheres Negras
866,2020,DAS-6,2,Mulheres,Não informado,Mulheres sem informação de raça
867,2020,DAS-6,5,Homens,Não informado,Homens sem informação de raça
868,2020,DAS-6,4,Mulheres,Outros,Mulheres com outras raças
869,2020,DAS-6,1,Homens,Outros,Homens com outras raças

In [31]:
df['genero_raca'].unique()

array(['Homens Brancos', 'Homens Negros', 'Mulheres Brancas',
       'Mulheres Negras', 'Mulheres sem informação de raça',
       'Homens sem informação de raça', 'Mulheres com outras raças',
       'Homens com outras raças'], dtype=object)

In [32]:
df = df.rename(columns={'tipo_das ':'tipo_das', 'raça':'cor_raca', 'sexo':'genero'})

In [33]:
df = df[['ano', 'tipo_das','genero', 'cor_raca','genero_raca', 'valor']]

In [34]:
df

,ano,tipo_das,genero,cor_raca,genero_raca,valor
0,1999,DAS-1,Homens,Branco,Homens Brancos,1909
1,1999,DAS-1,Homens,Negro,Homens Negros,787
2,1999,DAS-1,Mulheres,Branco,Mulheres Brancas,1778
3,1999,DAS-1,Mulheres,Negro,Mulheres Negras,639
4,1999,DAS-1,Mulheres,Não informado,Mulheres sem informação de raça,463
...,...,...,...,...,...,...
865,2020,DAS-6,Mulheres,Negro,Mulheres Negras,3
866,2020,DAS-6,Mulheres,Não informado,Mulheres sem informação de raça,2
867,2020,DAS-6,Homens,Não informado,Homens sem informação de raça,5
868,2020,DAS-6,Mulheres,Outros,Mulheres com outras raças,4
869,2020,DAS-6,Homens,Outros,Homens com outras raças,1

Subindo para o GBQ

In [35]:
client = bigquery.Client()
dataset_ref = client.dataset('cargos_lideranca')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [36]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('tipo_das','STRING',description='Nível de cargo de Direção e Assessoramento Superior (DAS)'),
 bigquery.SchemaField('genero','STRING',description='Gênero autodeclarado ou não'),
 bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada'),
 bigquery.SchemaField('genero_raca','STRING',description='Gênero e raça da pessoa observada'),
 bigquery.SchemaField('valor','INTEGER',description='Quantidade total da observação')]

In [37]:
table_ref = dataset_ref.table('SIAPE_vinculos_das_sexo_raca') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=b041e2ab-cbee-4c79-854e-df9d53cf448a>