In [1]:
import numpy as np
import pandas as pd
import os
import time
import pandas_gbq
from google.cloud import bigquery

In [2]:
os.chdir('G:\\Drives compartilhados\\República.org\\4. Equipes\\Dados e Comunicação\\DADOS\\415 - Repositório de Dados\\Dados para subir\\Tabelas finais')

In [3]:
df = pd.read_csv("SIAPE_vinculos_das_sexo_raca.csv", sep= "," )
df

      ano tipo_das   valor       sexo           raça
0    1999     DAS-1   1909  Masculino         Branco
1    1999     DAS-1    787  Masculino          Negro
2    1999     DAS-1   1778   Feminino         Branco
3    1999     DAS-1    639   Feminino          Negro
4    1999     DAS-1    463   Feminino  Não informado
..    ...       ...    ...        ...            ...
865  2020     DAS-6      3   Feminino          Negro
866  2020     DAS-6      2   Feminino  Não informado
867  2020     DAS-6      5  Masculino  Não informado
868  2020     DAS-6      4   Feminino         Outros
869  2020     DAS-6      1  Masculino         Outros

[870 rows x 5 columns]

In [4]:
df['genero_raca'] = df['sexo'] + ' ' + df['raça']
df

      ano tipo_das   valor       sexo           raça              genero_raca
0    1999     DAS-1   1909  Masculino         Branco         Masculino Branco
1    1999     DAS-1    787  Masculino          Negro          Masculino Negro
2    1999     DAS-1   1778   Feminino         Branco          Feminino Branco
3    1999     DAS-1    639   Feminino          Negro           Feminino Negro
4    1999     DAS-1    463   Feminino  Não informado   Feminino Não informado
..    ...       ...    ...        ...            ...                      ...
865  2020     DAS-6      3   Feminino          Negro           Feminino Negro
866  2020     DAS-6      2   Feminino  Não informado   Feminino Não informado
867  2020     DAS-6      5  Masculino  Não informado  Masculino Não informado
868  2020     DAS-6      4   Feminino         Outros          Feminino Outros
869  2020     DAS-6      1  Masculino         Outros         Masculino Outros

[870 rows x 6 columns]

In [5]:
df = df.rename(columns={'tipo_das ':'tipo_das', 'raça':'cor_raca', 'sexo':'genero'})

In [7]:
df = df[['ano', 'tipo_das','genero', 'cor_raca','genero_raca', 'valor']]

In [8]:
df

      ano tipo_das     genero       cor_raca              genero_raca  valor
0    1999    DAS-1  Masculino         Branco         Masculino Branco   1909
1    1999    DAS-1  Masculino          Negro          Masculino Negro    787
2    1999    DAS-1   Feminino         Branco          Feminino Branco   1778
3    1999    DAS-1   Feminino          Negro           Feminino Negro    639
4    1999    DAS-1   Feminino  Não informado   Feminino Não informado    463
..    ...      ...        ...            ...                      ...    ...
865  2020    DAS-6   Feminino          Negro           Feminino Negro      3
866  2020    DAS-6   Feminino  Não informado   Feminino Não informado      2
867  2020    DAS-6  Masculino  Não informado  Masculino Não informado      5
868  2020    DAS-6   Feminino         Outros          Feminino Outros      4
869  2020    DAS-6  Masculino         Outros         Masculino Outros      1

[870 rows x 6 columns]

Subindo para o GBQ

In [9]:
client = bigquery.Client()
dataset_ref = client.dataset('cargos_lideranca')

c:\Users\ana.sales_republica\Anaconda\lib\site-packages\google\auth\_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [10]:
schema=[bigquery.SchemaField('ano','INTEGER',description='Ano de referencia da informacao'),
 bigquery.SchemaField('tipo_das','STRING',description='Nível de cargo de Direção e Assessoramento Superior (DAS)'),
 bigquery.SchemaField('genero','STRING',description='Gênero autodeclarado ou não'),
 bigquery.SchemaField('cor_raca','STRING',description='Raça/cor da pessoa observada'),
 bigquery.SchemaField('genero_raca','STRING',description='Gênero e raça da pessoa observada'),
 bigquery.SchemaField('valor','INTEGER',description='Quantidade total da observação')]

In [11]:
table_ref = dataset_ref.table('SIAPE_vinculos_das_sexo_raca') # nome da tabela no padrão FONTE_algo_intuitivo_dado
job_config = bigquery.LoadJobConfig(schema=schema)
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()

LoadJob<project=repositoriodedadosgpsp, location=US, id=d790a1c3-fb31-4f08-8bf0-bb37fb2e1a61>